@model Games

@{ViewBag.Title= "Edit";
    }
<style>
    body {
        background-color: lightgrey
    }
</style>

    @if (Model == null)
    {
        <h1> Unable to find game.</h1>
    }
    else
    {
        <form asp-action="Edit" method="post">
            @*<label asp-for="GameId"></label> <input asp-for="GameId" /> <br />*@
            <input asp-for="GameId" type="hidden" />
            <label asp-for="GameName"></label> <input asp-for="GameName" /> <span asp-validation-for="GameName"></span> <br />
            <label asp-for="Genre"></label> <select asp-for="Genre" asp-items="Html.GetEnumSelectList(typeof(Genre))"> </select> <span asp-validation-for="Genre"></span><br />
            <label asp-for="Rating"></label> <input asp-for="Rating" /> <span asp-validation-for="Rating"></span><br />
            <label asp-for="Review"></label> <input asp-for="Review" /> <span asp-validation-for="Review"></span><br />
            <label asp-for="ReleaseDate"></label> <input asp-for="ReleaseDate" /> <span asp-validation-for="ReleaseDate"></span><br />
            <label asp-for="Compatablity"></label> <input asp-for="Compatablity" /> <span asp-validation-for="Compatablity"></span><br />
            <label asp-for="Recommended"></label> <input asp-for="Recommended" /> <span asp-validation-for="Recommended"></span><br />
            <input type="submit" value="Save changes" />
            <input type="button" value="Cancel" onclick="history.back()"/>
        </form>
    }

