<link href="~/css/StartStyleSheet.css" rel="stylesheet" />
@*<img src="~/startuppic.jpg" />*@
<img src="~/Welcome.jpg" alt="" style="width: 1000; height: 1000px;" />
@*<button type="button" class="block"></button>*@

@*<form asp-action="Index">
    <button class="btn" type="submit">Explore now!</button>
</form>*@
<form asp-action="Index">
    <button type="submit">
        <img src="~/startuppic.jpg" alt="buttonpng" />
    </button>
</form>